.svn/
target/
test-output/
*.class
.classpath
.project
.settings/
tmp
temp
*.log
antx.properties
otter.properties
jtester.properties
.idea/
*.iml
.DS_Store
*.tar.gz
*.rpm
client-adapter/example/
*.dat
conf/
admin-ui/dist/
admin-ui/node/
admin-ui/node_modules/
admin-ui2/dist/
admin-ui2/node/
admin-ui2/node_modules/
admin-web/src/main/resources/public/
